@import "tailwindcss";
@plugin '@tailwindcss/typography';

@layer components {

  /* Make all images inside prose inline and vertically centered */
  .prose img {
    @apply inline align-middle max-w-none;
  }

  /* Customize paragraphs */
  .prose p {
    @apply text-gray-700 !leading-relaxed;
  }

  /* Customize headings */
  .prose h1,
  .prose h2,
  .prose h3 {
    @apply text-gray-900 font-bold my-1 !mb-0;
  }

  .prose img {
    @apply !my-1;
  }

  /* Customize links */
  .prose a {
    @apply text-blue-600 underline;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  @apply inline
}